<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="13372HIGAN.MoePic" Publisher="CN=F02C3F66-CA67-481A-B104-47930F905273" Version="0.4.4.1" />
  <mp:PhoneIdentity PhoneProductId="e52323d2-7a2c-4be7-94e5-d15ed906b0ab" PhonePublisherId="5e10199f-6617-4b5d-b10f-d21750e722ea" />
  <Properties>
    <DisplayName>MoePic</DisplayName>
    <PublisherDisplayName>HIGAN</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="SplashScreen.xaml">
      <m3:VisualElements DisplayName="MoePic" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="MoePic" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:DefaultTile ShortName="MoePic" Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>